[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
server = "python main.py"
addlicense = "licenseheaders -y 2020 -o \"IBM Corp\" -d . --ext .py  -t ./LICENSE_HEADER"

[dev-packages]
pytest = "*"
licenseheaders = "*"
pylint = "*"

[packages]
pandas = "==1.4.2"
pyarrow = "==8.0.0"
requests = "*"
fsspec = "==0.8.4"
aiohttp = "==3.7.4"
pyyaml = "==5.4.1"
faker = "==13.3.0"
fybrik_python_logging = "==0.1.0"
fybrik_python_tls = "==0.1.0"
fybrik_python_vault = "==0.2.0"

[requires]
python_version = "3.8"
